AspireCRM.ApiService/bin/
AspireCRM.ApiService/obj/
AspireCRM.AppHost/bin/
AspireCRM.AppHost/obj/
AspireCRM.DataLayer/obj/
AspireCRM.Domain/obj/
AspireCRM.ServiceDefaults/bin/
AspireCRM.ServiceDefaults/obj/
AspireCRM.Tests/bin/
AspireCRM.Tests/obj/
AspireCRM.Web/bin/
AspireCRM.Web/obj/
AspireCRM.DataLayer/bin/
AspireCRM.Domain/bin/
